In [1]:
# Imports
import pandas as pd
import numpy as np
from IPython.display import display

from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [2]:
# Load data
ft_lem = pd.read_csv("./results/fasttext_lemmatized.csv", low_memory=False)
ft_swk = pd.read_csv("./results/fasttext_stopwords_kept.csv", low_memory=False)
ft_swr = pd.read_csv("./results/fasttext_stopwords_removed.csv", low_memory=False)

# Print length
print(len(ft_lem.index))
print(len(ft_swk.index))
print(len(ft_swr.index))

# Display
display(ft_lem)
display(ft_swk)
display(ft_swr)

33270
33270
33270

,Unnamed: 0,id,label,predicted_label,lemmatized
0,0,jrt781,__label__1,__label__1,sensitive med ritalin average week ago starte...
1,1,kbj5q2,__label__1,__label__1,weekly new med started med thread started med ...
2,2,abd1m3,__label__1,__label__1,tight chest especially night day ago started g...
3,3,abf1ws,__label__1,__label__1,managing negative thought feeling relationship...
4,4,abfgdb,__label__1,__label__0,new year ruined people came house today new ye...
...,...,...,...,...,...
33265,33265,kn6oay,__label__1,__label__0,screwed ever see angie im sorry yk sorry none ...
33266,33266,kn6rsg,__label__1,__label__0,fucking simp idiot hi name yuri english speak...
33267,33267,knbn4m,__label__1,__label__0,wrote poem say thing cant say mom talk voice ...
33268,33268,kngrc9,__label__1,__label__0,love frustrating name ginny dated amazing guy ...
33269,33269,knk99o,__label__1,__label__0,hamster put hamster last night due advanced ey...

,Unnamed: 0,id,label,predicted_label,stopwords_kept
0,0,jrt781,__label__1,__label__1,am i more sensitive to meds ritalin than the a...
1,1,kbj5q2,__label__1,__label__1,weekly new to meds just started meds thread ju...
2,2,abd1m3,__label__1,__label__1,tight chest especially at night few days ago i...
3,3,abf1ws,__label__1,__label__1,managing negative thoughts and feelings during...
4,4,abfgdb,__label__1,__label__1,new years ruined some people came over to my h...
...,...,...,...,...,...
33265,33265,kn6oay,__label__1,__label__0,screwed up if you ever see this angie im so so...
33266,33266,kn6rsg,__label__1,__label__0,i am a fucking simp and idiot hi my name is yu...
33267,33267,knbn4m,__label__1,__label__0,i wrote this poem to say all the things i cant...
33268,33268,kngrc9,__label__1,__label__0,loves frustrating so my name is ginny i dated ...
33269,33269,knk99o,__label__1,__label__1,hamster i had to put my hamster down last nigh...

,Unnamed: 0,id,label,predicted_label,stopwords_removed
0,0,jrt781,__label__1,__label__1,sensitive meds ritalin average weeks ago star...
1,1,kbj5q2,__label__1,__label__1,weekly new meds started meds thread started me...
2,2,abd1m3,__label__1,__label__1,tight chest especially night days ago started ...
3,3,abf1ws,__label__1,__label__1,managing negative thoughts feelings relationsh...
4,4,abfgdb,__label__1,__label__1,new years ruined people came house today new y...
...,...,...,...,...,...
33265,33265,kn6oay,__label__1,__label__1,screwed ever see angie im sorry yk sorry none ...
33266,33266,kn6rsg,__label__1,__label__0,fucking simp idiot hi name yuri english speak...
33267,33267,knbn4m,__label__1,__label__0,wrote poem say things cant say mom talk voice...
33268,33268,kngrc9,__label__1,__label__0,loves frustrating name ginny dated amazing guy...
33269,33269,knk99o,__label__1,__label__0,hamster put hamster last night due advanced ey...

In [3]:
# Drop index column
ft_lem = ft_lem.drop(columns=['Unnamed: 0'])
ft_swk = ft_swk.drop(columns=['Unnamed: 0'])
ft_swr = ft_swr.drop(columns=['Unnamed: 0'])

# Extract just the numerical label from label and predicted_label column
ft_lem['label'] = [x.strip()[-1] for x in ft_lem['label']]
ft_lem['predicted_label'] = [x.strip()[-1] for x in ft_lem['predicted_label']]

ft_swk['label'] = [x.strip()[-1] for x in ft_swk['label']]
ft_swk['predicted_label'] = [x.strip()[-1] for x in ft_swk['predicted_label']]

ft_swr['label'] = [x.strip()[-1] for x in ft_swr['label']]
ft_swr['predicted_label'] = [x.strip()[-1] for x in ft_swr['predicted_label']]


# Convert to int type
ft_lem['label'] = ft_lem['label'].astype(int)
ft_lem['predicted_label'] = ft_lem['predicted_label'].astype(int)

ft_swk['label'] = ft_swk['label'].astype(int)
ft_swk['predicted_label'] = ft_swk['predicted_label'].astype(int)

ft_swr['label'] = ft_swr['label'].astype(int)
ft_swr['predicted_label'] = ft_swr['predicted_label'].astype(int)

# Display
display(ft_lem)
display(ft_swk)
display(ft_swr)

,id,label,predicted_label,lemmatized
0,jrt781,1,1,sensitive med ritalin average week ago starte...
1,kbj5q2,1,1,weekly new med started med thread started med ...
2,abd1m3,1,1,tight chest especially night day ago started g...
3,abf1ws,1,1,managing negative thought feeling relationship...
4,abfgdb,1,0,new year ruined people came house today new ye...
...,...,...,...,...
33265,kn6oay,1,0,screwed ever see angie im sorry yk sorry none ...
33266,kn6rsg,1,0,fucking simp idiot hi name yuri english speak...
33267,knbn4m,1,0,wrote poem say thing cant say mom talk voice ...
33268,kngrc9,1,0,love frustrating name ginny dated amazing guy ...
33269,knk99o,1,0,hamster put hamster last night due advanced ey...

,id,label,predicted_label,stopwords_kept
0,jrt781,1,1,am i more sensitive to meds ritalin than the a...
1,kbj5q2,1,1,weekly new to meds just started meds thread ju...
2,abd1m3,1,1,tight chest especially at night few days ago i...
3,abf1ws,1,1,managing negative thoughts and feelings during...
4,abfgdb,1,1,new years ruined some people came over to my h...
...,...,...,...,...
33265,kn6oay,1,0,screwed up if you ever see this angie im so so...
33266,kn6rsg,1,0,i am a fucking simp and idiot hi my name is yu...
33267,knbn4m,1,0,i wrote this poem to say all the things i cant...
33268,kngrc9,1,0,loves frustrating so my name is ginny i dated ...
33269,knk99o,1,1,hamster i had to put my hamster down last nigh...

,id,label,predicted_label,stopwords_removed
0,jrt781,1,1,sensitive meds ritalin average weeks ago star...
1,kbj5q2,1,1,weekly new meds started meds thread started me...
2,abd1m3,1,1,tight chest especially night days ago started ...
3,abf1ws,1,1,managing negative thoughts feelings relationsh...
4,abfgdb,1,1,new years ruined people came house today new y...
...,...,...,...,...
33265,kn6oay,1,1,screwed ever see angie im sorry yk sorry none ...
33266,kn6rsg,1,0,fucking simp idiot hi name yuri english speak...
33267,knbn4m,1,0,wrote poem say things cant say mom talk voice...
33268,kngrc9,1,0,loves frustrating name ginny dated amazing guy...
33269,knk99o,1,0,hamster put hamster last night due advanced ey...

In [4]:
# Compare accuracy of each clustering method
print("Classification metrics for each fastText dataset")
print("Accuracy score for ft_lem is:", 
      accuracy_score(ft_lem['label'], ft_lem['predicted_label']))

print("Accuracy score for ft_swk is:", 
      accuracy_score(ft_swk['label'], ft_swk['predicted_label']))

print("Accuracy score for ft_swr is:", 
      accuracy_score(ft_swr['label'], ft_swr['predicted_label']))

# Compare precision of each clustering method
print("\nPrecision score for ft_lem is:", 
      precision_score(ft_lem['label'], ft_lem['predicted_label']))

print("Precision score for ft_swk is:", 
      precision_score(ft_swk['label'], ft_swk['predicted_label']))

print("Precision score for ft_swr is:", 
      precision_score(ft_swr['label'], ft_swr['predicted_label']))

# Compare recall of each clustering method
print("\nRecall score for ft_lem is:", 
      recall_score(ft_lem['label'], ft_lem['predicted_label']))

print("Recall score for ft_swk is:", 
      recall_score(ft_swk['label'], ft_swk['predicted_label']))

print("Recall score for ft_swr is:", 
      recall_score(ft_swr['label'], ft_swr['predicted_label']))

# Compare f1 of each clustering method
print("\nF1 score for ft_lem is:", 
      f1_score(ft_lem['label'], ft_lem['predicted_label']))

print("F1 score for ft_swk is:", 
      f1_score(ft_swk['label'], ft_swk['predicted_label']))

print("F1 score for ft_swr is:", 
      f1_score(ft_swr['label'], ft_swr['predicted_label']))

Classification metrics for each fastText dataset
Accuracy score for ft_lem is: 0.8976254884280133
Accuracy score for ft_swk is: 0.9033663961526901
Accuracy score for ft_swr is: 0.9035166816952209

Precision score for ft_lem is: 0.9251237226042804
Precision score for ft_swk is: 0.9025677945764339
Precision score for ft_swr is: 0.9011054675829101

Recall score for ft_lem is: 0.8652840396753833
Recall score for ft_swk is: 0.9043582807333934
Recall score for ft_swr is: 0.9065223925458371

F1 score for ft_lem is: 0.8942038889234019
F1 score for ft_swk is: 0.9034621505570068
F1 score for ft_swr is: 0.9038058136050345

In [4]:
# Load GPT2 results
gpt2 = pd.read_csv("./results/gpt2.csv")

# Drop index column
gpt2 = gpt2.drop(columns=['Unnamed: 0'])

display(gpt2)

print("Classification metrics for each gpt2 dataset")
print("Accuracy score is:", 
      accuracy_score(gpt2['true_label'], gpt2['predicted_label']))

print("Precision score is:", 
      precision_score(gpt2['true_label'], gpt2['predicted_label']))

print("Recall score is:", 
      recall_score(gpt2['true_label'], gpt2['predicted_label']))

print("F1 score is:", 
      f1_score(gpt2['true_label'], gpt2['predicted_label']))

,id,clean_text,true_label,predicted_label
0,gb1v57,watching tv show since free time decided watc...,0,0
1,jzm4a5,feel like clawing skin idk feel like raking n...,1,1
2,l92a50,play adult rec league today first day back do...,0,0
3,jsye0s,get dread single forever longest ever relatio...,0,1
4,opq81s,split meltdown anger attack dont even know poi...,1,1
...,...,...,...,...
33265,ibfwwx,need vent anxious relapse anyone ever feel li...,1,1
33266,q67283,f k deal complete isolation late ethnic minor...,1,0
33267,okc05k,shooting work context brother shot death drug ...,1,1
33268,j1tp88,constant irrational anxiety regarding death co...,1,1
33269,elnhdd,r pic took honestly year felt like going slip ...,0,0

Classification metrics for each gpt2 dataset
Accuracy score is: 0.9077246768860836
Precision score is: 0.9058703847764945
Recall score is: 0.9100090171325519
F1 score is: 0.9079349847058119

In [2]:
# Load XLNet results
xlnet = pd.read_csv("./results/xlnet.csv")

# Drop index column
xlnet = xlnet.drop(columns=['Unnamed: 0'])

# Convert predicted label to int
xlnet["predicted_label"] = xlnet["predicted_label"].astype(int)

display(xlnet)

print("Classification metrics for each xlnet dataset")
print("Accuracy score is:", 
      accuracy_score(xlnet['label'], xlnet['predicted_label']))

print("Precision score is:", 
      precision_score(xlnet['label'], xlnet['predicted_label']))

print("Recall score is:", 
      recall_score(xlnet['label'], xlnet['predicted_label']))

print("F1 score is:", 
      f1_score(xlnet['label'], xlnet['predicted_label']))

,id,label,predicted_label,clean_text
0,gb1v57,0.0,0,watching tv show since free time decided watc...
1,jzm4a5,1.0,1,feel like clawing skin idk feel like raking n...
2,l92a50,0.0,0,play adult rec league today first day back do...
3,jsye0s,0.0,0,get dread single forever longest ever relatio...
4,opq81s,1.0,1,split meltdown anger attack dont even know poi...
...,...,...,...,...
33265,ibfwwx,1.0,1,need vent anxious relapse anyone ever feel li...
33266,q67283,1.0,1,f k deal complete isolation late ethnic minor...
33267,okc05k,1.0,1,shooting work context brother shot death drug ...
33268,j1tp88,1.0,1,constant irrational anxiety regarding death co...
33269,elnhdd,0.0,0,r pic took honestly year felt like going slip ...

Classification metrics for each xlnet dataset
Accuracy score is: 0.9133152990682296
Precision score is: 0.9436092651138783
Recall score is: 0.8791704238052299
F1 score is: 0.9102508246716873